<header class="header">
  <script type="text/javascript" async
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>
  <div class="site-title">
    {% if page.title %}
    <h4 class="entry-title"><a href="{{ page.url }}">{{ page.title }}</a></h4>
    {% else%}
    <img src="/images/logo.jpg" style="width: 42px;" />
    <a href="/">{{ site.title }}</a>
    {% endif %}
  </div>

<div class="links">
    {% assign current = page.title %}
    <a href="/" class="page-link{% if current == null %} active{% endif %}">Blog</a>
    {% for page in site.pages %}
    {% if page.title and page.permalink != "/404.html" %}
      <a class="page-link{% if current == page.title %} active{% endif %}"
        href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
    {% endif %}
    {% endfor %}
    <a href="/feed.xml" target="_blank" class="page-link">RSS</a>
</div>
</header>
